<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <filter>
    <filter-name>MonitoramentoFilter</filter-name>
    <filter-class>br.com.alura.gerenciador.servlet.MonitoramentoFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MonitoramentoFilter</filter-name>
    <url-pattern>/entrada</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>AutorizacaoFilter</display-name>
    <filter-name>AutorizacaoFilter</filter-name>
    <filter-class>br.com.alura.gerenciador.servlet.AutorizacaoFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutorizacaoFilter</filter-name>
    <url-pattern>/entrada</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>ControladorFilter</display-name>
    <filter-name>ControladorFilter</filter-name>
    <filter-class>br.com.alura.gerenciador.servlet.ControladorFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ControladorFilter</filter-name>
    <url-pattern>/entrada</url-pattern>
  </filter-mapping>
  <display-name>servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmpresasService</display-name>
    <servlet-name>EmpresasService</servlet-name>
    <servlet-class>br.com.alura.gerenciador.servlet.EmpresasService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpresasService</servlet-name>
    <url-pattern>/empresas</url-pattern>
  </servlet-mapping>
</web-app>